<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/ripe.css">
    <title>Is It Ripe Yet?</title>
  </head>
  <body>

  <div class="row">
    <div class="veg-grid .small-12.columns">
      <img src="/images/brussel_sprouts.jpg">
      <img src="/images/carrot.jpg">
      <img src="/images/onion.jpg">
      <img src="/images/tomato.png">
    </div>
  </div>

  </body>
</html>
